* {
  margin: 0;
  padding: 0;
  text-align: center;
}
.jokes {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.joke {
  width: 40rem;
  height: 20rem;
  background-color: #1d8348;
  border-radius: 8px;
  padding: 3rem;
}
button {
  height: 3rem;
  margin: 6rem;
  background-color: #2ecc71;
  border-radius: 8px;
  color: #ffffff;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;

  cursor: pointer;
}
button:hover {
  opacity: 0.3;
}
